*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #011b30;
  /* background-color: red; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #011b30;
  padding: 30px;
  border-radius: 10px;
  /* width: 100%;
  height: 100vh; */
  /* height:700px; */
}

.typewriter-effect {
  font-family: monospace;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1.5ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

.text {
  padding: 10px;
}

.nav-ul {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #ff9800;
  border: none;
  color: black;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.1rem;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  margin: 0.5rem;
}

.btn:before,
.btn:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: "";
  height: 0;
  position: absolute;
  width: 24px;
}

.btn:before {
  border-top: 2px solid #ff9800;
  right: 0;
  top: -4px;
}

.btn:after {
  border-bottom: 2px solid #ff9800;
  bottom: -4px;
  left: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

.main-heading,
.sub-heading {
  padding: 5px;
}
.main-heading {
  font-size: 4rem;
}
.heading {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 360px) {
  .typewriter-effect {
    font-size: 16px;
    font-weight: 500;
    overflow: auto;
  }
}
@media (max-width: 540px) {
  .typewriter-effect {
    font-size: 20px;
  }
}
@media (max-width: 411px) {
  .typewriter-effect {
    font-size: 17px;
    font-weight: 500;
    overflow: auto;
  }
}
@media (max-width: 414px) {
  .typewriter-effect {
    font-size: 15px;
    font-weight: 500;
    overflow: auto;
  }
}
@media (max-width: 320px) {
  .typewriter-effect {
    font-size: 12px;
    font-weight: 600;
    overflow: auto;
  }

  .main-heading,
  .sub-heading {
    padding: 2px;
  }
  .main-heading {
    font-size: 2rem;
  }
}

@media (max-width: 280px) {
  .typewriter-effect {
    font-size: 10px;
    font-weight: 600;
    overflow: hidden;
  }

  .main-heading,
  .sub-heading {
    padding: 2px;
  }
  .main-heading {
    font-size: 2rem;
  }
}

.foot {
  margin-top: 0px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.foot a {
  margin-left: 5px;
  color: white;
}
